* {
    box-sizing: border-box;


}
  
  body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    background-color: #ffffff;
  }
  
  header {
    position:relative;
    width: 100%;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.5); 
    /* Enable flex mode.     display: flex; */

            
    /* Spread out the elements inside the header. justify-content: space-between;*/
    justify-content: space-between;

    /* Align items vertically in the center. */
    align-items: center;
  }


  .header-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  header address {
    margin-left: 30%;
    margin-right: 10px;
  }

  .profile-img-div{
    text-align: center;
    padding: 150px 20px 0 0;
  }
  .profile-img {

    border-radius: 80%;
    width: 20%;
    height: 45%;
    padding: 20px 0;
  }
  
  header h1 {
    font-size: 24px;
    text-align: center;
  }
  
  ul {
    list-style: none;
    border: 1px solid  rgb(81, 173, 143);
    overflow: hidden;
    text-align: center;
    margin: 0px auto;
  }
  
  ul li a {
    color: #333;
    display: block;
    padding: .3em;
    text-decoration: none;
    font-size: 20px;
  }
  
  nav a:hover {
    color: rgb(255, 255, 255);
  }

  nav ul {
    display: flex;
    justify-content: center;
    position: relative;
  }


  main {
    padding-top: 200px; /* ajustar este valor según el tamaño del header */
  }
  
  section {
    padding: 130px 0px;
    align-content: center;
  }

  section .container *{
      background-color: burlywood;
  }
  
  .container {
    max-width: 960px;
    margin: 0px auto;
    padding: 5px 20px;
    background-color: burlywood;
  }

  ol li{
    margin-bottom: 10px;
  }


  .video-container {
    display: flex;
    justify-content: center;
  }
  .video-container iframe {
    margin: 0 auto;
  }

  .logo-carousel {
    overflow: hidden;
    white-space: nowrap;
    text-align: center;

  }
  
  .logo-carousel img {
    display: inline-block;
    height: 50px;
    margin-right: 10px;
    vertical-align: middle;
    transition: transform 0.3s ease-in-out;
  }
  
  .logo-carousel img:hover {
    transform: scale(1.1);
  }


  html {
  scroll-behavior: smooth;
}

a[href^="#"] {
  transition: all 0.5s ease-in-out;
}

a[href^="#"]:hover {
  color: rgb(185, 112, 22);;
}


/* Estilos para el menú hamburguesa */

.menu-checkbox {
  display: none;
}

.menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}


#mi-imagen {
  transition: transform 1s ease-in-out; /* transición suave al realizar la rotación */
}

@media  (max-width: 1000px) {
  header {
    position:relative;
    width: 100%;
    height: 15%;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.5); 
    /* Enable flex mode.     display: flex; */

            
    /* Spread out the elements inside the header. justify-content: space-between;*/
    justify-content: space-between;

    /* Align items vertically in the center. */
    align-items: center;
  }
  .profile-img-div{
    text-align: center;
    padding: 50px 20px 0 0;
  }
  .profile-img {

    border-radius: 80%;
    width: 15%;
    height: 45%;
    padding: 20px 0;
  }
  /* Estilos para el menú hamburguesa */
}